@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: #e0e0e0;
}
.gradientInput {
  padding: 0.5rem;
  border: double 3px transparent;
  border-radius: 6px;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom, #56ccf2, #6fcf97);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: 0.27s ease-in all;
}
.gradientInput:hover {
  opacity: 0.8;
}
.gradientInputBottom {
  border-radius: 8px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #56ccf2, #6fcf97);
  border-image-slice: 1;
}
hr {
  border: 0.5px solid;
  border-image: linear-gradient(to right, #56ccf2, #6fcf97);
  border-image-slice: 1;
}
.styledHeader {
  transform: translate(-254px, 110px) rotate(-90deg);
  font-family:"Times New Roman", "Work Sans", sans-serif;
  font-weight: 999;
  text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.customGradient {
  background: -webkit-linear-gradient(#56ccf2, #6fcf97);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hover-trigger .hover-target {
  display: none;
}
.hover-trigger:hover .hover-target {
  display: block;
}
* {
  box-sizing: border-box;
}
