@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  background-color: #E0E0E0;
}
.gradientInput{
  border-radius: 8px;
  border: 2px solid;
  border-image: linear-gradient(to right, #56CCF2, #6FCF97);
  border-image-slice: 1;  
}
.gradientInput:hover{
  opacity: 0.8;
}
hr{
  border: 0.5px solid;
  border-image: linear-gradient(to right, #56CCF2, #6FCF97);
  border-image-slice: 1;
}
.styledHeader{
  transform: translate(-254px, 110px) rotate(-90deg);
  font-family: 'Noto Sans', 'Work Sans', sans-serif;
  font-weight: 1000;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}
.customGradient{
  background: -webkit-linear-gradient(#56CCF2, #6FCF97);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
* {
  box-sizing: border-box;
}
