@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://db.onlinewebfonts.com/c/af089c51d74ffa3c6a675fd6024b302b?family=Futura+Hv+BT");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: #e0e0e0;
}
/* Footer positioning */
#page-container {
  position: relative;
  min-height: 97vh;
}

#content-wrap {
  padding-bottom: 2rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
}
.gradientInput {
  padding: 0.5rem;
  border: double 3px transparent;
  border-radius: 6px;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom, #56ccf2, #6fcf97);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: 0.27s ease-in all;
}
.gradientInput:hover {
  opacity: 0.8;
}
.gradientInputBottom {
  border-radius: 8px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #56ccf2, #6fcf97);
  border-image-slice: 1;
}
.gradientTextareaBottom {
  border-radius: 8px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #56ccf2, #6fcf97);
  border-image-slice: 1;
}
hr {
  border: 0.5px solid;
  border-image: linear-gradient(to right, #56ccf2, #6fcf97);
  border-image-slice: 1;
}
.styledHeader {
  transform: translate(-250px, 110px) rotate(-90deg);
  font-family: "Futura Hv BT", "Times New Roman", sans-serif;
  font-weight: 999;
  text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.styledGradientHeader {
  position: absolute;
  width: 384px;
  height: 70px;
  left: 50px;
  top: 109px;
  font-style: normal;
  font-weight: bold;
  font-size: 53.67px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  font-variant: small-caps;
  border: 3px solid;
  border-image-source: linear-gradient(180deg, #56ccf2 0%, #6fcf97 100%);
}
.customGradient {
  background: -webkit-linear-gradient(#56ccf2, #6fcf97);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hover-trigger .hover-target {
  display: none;
}
.hover-trigger:hover .hover-target {
  display: block;
}
.gradientHeaderHollow {
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#56ccf2, #6fcf97);
  -webkit-background-clip: text;
  -webkit-text-stroke: 6px transparent;
  color: #e0e0e0;
}

/* Hover Underline Animation - Navbar */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #000;
  text-decoration: none;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #56ccf2;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
